.welcome {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  &_wrap {
    margin: auto;
  }
  &_logo {
    margin-top: 2%;
    width: 200px;
  }
  &_para {
    margin-top: 10%;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &_iq {
    color: #33bd64;
  }
  &_btn {
    background-color: #33bd64;
    color: #fff;
    padding: 16px 135px;
    gap: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
}
