.scoreboard {
  padding: 50px 100px;
  text-align: center;
  height: 100vh;
  &-logo > img {
    width: 160px;
  }
  &-heading {
    padding: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #21222d;
  }
  &-rank {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #7b7b81;
  }
  &-table {
    margin-top: 20px;
    width: 100%;
    &-info {
      background-color: #33bd64;
      color: #fff;
    }
    &-info td {
      font-size: 18px;
      border: 1px #fff solid;
    }
    tbody {
      border-bottom: 1px #7b7b81 solid;
      height: 50px;
    }
    td {
      margin: 0 1px;
    }
  }
  &-active {
    font-weight: 500;
    color: #33bd64;
    background-color: #e2f0e4;
  }
}

@media only screen and (max-width: 46.1875em) {
  .scoreboard {
    justify-self: center;
    justify-items: center;
    width: 100vw;
    padding: 0;
    margin: 10px 0 0 0;
    position: relative;
    height: 0;
    transform: scale(0.8);

    &-logo > img {
      width: 90px;
    }
    &-heading {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
    &-table {
      position: absolute;
      right: -15px;
    }
  }
}
